* {
    font-family: sans-serif;
}

.main {
    margin: 2rem 1.2rem 0 1.2rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hrline {
    display: flex;
}

.header-name h3 {
    margin-bottom: 0;
    font-size: 25px;
    font-family: sans-serif;
}

.header-name hr:first-child {
    width: 15px;
    height: 4px;
    background-color: #000;
    border-radius: 20px;
    text-align: start;
    margin: 0;
}

.header-name hr:last-child {
    width: 5px;
    height: 4px;
    background-color: #545454;
    border-radius: 20px;
    text-align: start;
    margin: 0;
}

.search-head h3 {
    background-color: #000;
    color: white;
    padding: 8px 10px;
    border-radius: 50%;
}

.headposter {
    width: 100%;
    background-color: blanchedalmond;
    border-radius: 20px;
    margin-top: 1.2rem;
}

.headposter img {
    width: 100%;
    height: 15vh;
    object-fit: cover;
    border-radius: 20px;
}

.new-albums-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-albums-head h3{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: sans-serif;
}

.new-albums-head small{
    color: gray;
    font-size: 15px;
    font-weight: 700;
    font-family: sans-serif;
}

.albums {
    display: flex;
    justify-content: space-between;
}

.album-item {
    width: 28vw;
    padding: 7px;
    border-radius: 20px;
}

.album-img img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.album-title {
    padding: 4px;
}

.album-title small {
    color: gray;
    font-weight: 700;
}

.songs {
    margin-top: 1rem;
}

.song-img {
    width: 4rem;
}
.song-img img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.song-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
}

.song-title small {
    color: gray;
    font-weight: 700;
}

.song-intd {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.controls {
    display: flex;
    gap: 3px;
}

.controls hr {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #000;
}

.playmusic {
    background-color: #212121;
    color: white;
    border-radius: 30px;
    padding: 10px;
}

.music-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.music-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

#play {
    padding: 10px;
    background-color: white;
    color: #000;
    border-radius: 50%;
}